<div>
    <div id="prod-container">
        <div id="list-prods" style="display:flex;flex-wrap:wrap"><div/>
    </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>